{% extends "base.html" %}
{% block content %}
{% include "partial/header.html" %}

<div class="container-fluid">
    <div class="col-md-12">
        <h1>ROLL YE DICE!</h1>

        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        <form class="form-horizontal" method = 'POST'>
            <label>Number of "Dices":</label>
            <br>
            <input type ="text" size="50" name="dice" value={{dice_response}}>
            </br>
            <label>Number of Sides per Dice:</label>
            <br>
            <input type ="text" size="50" name="sides" value={{sides_response}}>
            </br>

            {% for number in result: %}
                <h2>{{number}} </h2>
            {% endfor %}

            </br>

            <form class="form-group">
                <button class="btn btn-success" type="submit">california ROLLLLL~</button>
                <a class="btn btn-default" href = "{{ url_for('index.homepage')}}"> Go Back!</a>
            </form>
        </form>
    </div>
</div>

{% include "partial/footer.html" %}
{% endblock content %}