<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Dice Roll</title>
</head>
<body>
    <h1>ROLL YE DICE!</h1>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form action="#" method = 'POST'>
        <label>Number of "Dices":</label>
        <input type ="number" class="form-control" maxlength="100" name="dice">
        </br>
        <label>Number of Sides per Dice:</label>
        <input type ="number" class="form-control" maxlength="100" name="sides">
        </br>
        </br>

        {% for number in result: %}
            <h2>{{number}} </h2>
        {% endfor %}

        </br>
        <input type='submit', value = 'Roll'>
        <a href = "{{ url_for('index.homepage')}}"> Go Back! </a>
    </form>

</body>
</html>