{% extends "base.html" %}
{% block content %}
{% include "partial/header.html" %}

<div class="container-fluid">
    <div class="col-md-12">
        <h1>HERE'S YE TEAM!</h1>

        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        <p>Assign a number to everyone first. Number of teams default to 2 teams if left empty.</p>

        <form class="form-horizontal" method ="POST">
            <br>
            <label class="control-lable">Number of Player:</label>
            <br>
            <input type ="text" size="50" name="players" value={{player_response}}>
            <br>
            <label>Number of Team:</label>
            <br>
            <input type ="text" size="50" name="team" value={{team_response}}>
            <br>
            <br>

            {% for number in result: %}
                <h2>{{number}} </h2>
            {% endfor %}

            <form class="form-group">
                <button class="btn btn-success" type="submit">Make dem teams!</button>
                <a class="btn btn-default" href= "{{url_for('index.homepage')}}"> Go Back!</a>
            </form>

        </form>
    </div>
</div>

{% include "partial/footer.html" %}
{% endblock content %}