<div class="footer_wrapper">
    <div class="col-md-12" style="height:100px;"></div>
        <footer class="footer">
            <div class="container-fluid text-center">
                <div class="footer-text text-muted row">
                    Utilities for bored games. Built by
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ERRYONE</a>
                     for ERRYONE.
                    <br>
                    View source code on <a href="https://github.com/anoddnumber/BoredGameStats">Github</a>
                </div>
            </div>
        </footer>
    </div>
</div>